<ion-content class="home-container gradient-1">
  <div class="header">
    <div class="title">
    <ion-grid>
      <ion-row>
        <ion-col text-center> Bienvenido a la aplicación! </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>
  <div class="data-contaienr">
    <ion-grid>
      <ion-row>
        <ion-col text-center> {{userEmail}} </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
